/* Global Reset */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: #b1cecd;
    overflow-y: hidden;
}

/* Remove default link styling */
a {
    text-decoration: none;
    cursor: pointer;
}

/* Main container */
.container {
    position: relative;
    width: 100%;
    display: flex;
}

/* Side panel */
.createaccount {
    background-color: #81CAC8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.createaccount img {
    max-width: 100%;
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 57%;
}

/* Remaining content */
.remaining {
    background-color: white;
    border-radius: 50px 50px 5px 5px;
    height: 100%;
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Input container */
.input-container {
    position: relative;
    margin-bottom: 35px;
    width: 100%;
}

/* Input styles */
.input-container input[type="email"],
.input-container input[type="password"] {
    width: 500px;
    padding: 15px;
    border: 1px solid #81CAC8;
    border-radius: 5px;
}

/* Label styles */
.input-container label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    color: #81CAC8;
    pointer-events: none;
    transition: 0.3s;
    font-size: 14px;
}

/* Focus styles for inputs and labels */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 20px;
    color: #12706D;
}

/* Focus styles for inputs */
input:focus {
    outline: none;
    border-color: #12706D;
    box-shadow: 0 0 5px #12706D;
}

/* Password input styles */
.password-input {
    width: 500px;
    padding: 15px;
    border: 1px solid #81CAC8;
    border-radius: 5px;
}

/* Toggle icon styles */
.password-toggle {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle i {
    font-size: 20px;
    color: #81CAC8;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #81CAC8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 20px;
    width: 100%;
}

/* Explore company link styles */
.explore-home {
    color: #12706D;
    font-size: 20px;
    margin-top: 60px;
}

.explore-home span {
    color: rgba(83, 172, 172, 1);
}

/* Header styles */
.remaining h1 {
    color: rgba(18, 112, 109, 1);
    font-size: 50px;
}

.remaining h1 span {
    color: rgba(83, 172, 172, 1);
}

/* Bottom links styles */
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    margin-top: -20px;
}


.left1, .right1 {
    display: flex;
    align-items: center; /* Align items vertically */
}

label a {
    color: #12706D;
    text-decoration: none;
}

/* Error message styles */
.error {
    position: absolute;
    top: 125%;
    left: 10px;
    transform: translateY(-50%);
}

.error-message {
    color: #ff0000;
    font-size: 17px;
}

/* Media queries */
@media (min-width: 1280px) {
    .container {
        max-width: 1500px;
        margin: 0 auto;
    }

    .input-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
    }
}
