
/* Add this CSS to your userdashboard.css or create a new CSS file */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #12706D;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-content h2 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Schedule content styles */
#scheduleContent {
    margin-top: 20px;
    background-color: #12706D;
    border: 1px solid #81CAC8; /* Border */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Border radius */
    color: white;
}

/* List item styles */
#scheduleContent ul {
    list-style-type: none;
    padding: 0;
}

#scheduleContent ul li {
    margin-bottom: 10px; /* Add margin bottom for spacing between appointments */
    padding: 10px; /* Add padding to each appointment entry */
    border: 1px solid #81CAC8; /* Add border to separate appointment entries */
    border-radius: 5px; /* Add border radius */
}



.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#alertMessage {
    margin-top: 10px; /* Adjust as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* Center text */

}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}