body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: white;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
}

.createaccount {
    background-color: #81CAC8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.remaining {
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createaccount img {
    max-width: 100%;
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 57%;
}

.input-container {
    position: relative;
    width: 55%; /* Adjust the width as needed */
    margin-top: 20px;
    display: inline-block;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #81CAC8;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: white;
    z-index: 2;
    padding: 0 5px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 5px;
    font-size: 20px;
    color: #12706D;
}

button {
    padding: 10px 20px;
    background-color: #81CAC8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    width: 107%;
    font-size: 20px;
}

.login-link {
    color: #12706D;
    font-size: 20px;
    float: left;
}

.login-link a {
    text-decoration: none;
    color: rgba(83, 172, 172, 1);
}

.explore-home {
    color: #12706D;
    font-size: 20px;
    margin-top: 60px;
}

.explore-home span {
    color: rgba(83, 172, 172, 1);
}
.remaining h1 {
    color: rgba(18, 112, 109, 1);
    font-size: 50px;
}
.remaining h1 span {
    color: rgba(83, 172, 172, 1);
}
