<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Assets/Style/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://kit.fontawesome.com/7d399dc76b.js" crossorigin="anonymous"></script>
  <title>Serenity Haven</title>
</head>

<body>
  <header>
    <h1 class="logo">Serenity Haven</h1>
    <nav>
      <ul class="navlinks">
        <li><a href="#Services">Services</a></li>
        <li><a href="#CareGivers">CareGivers</a></li>
        <li><a href="#AboutUs">AboutUs</a></li>
        <li><a href="#testimonials">testimonials</a></li>
      </ul>
    </nav>
    <nav>
      <a class="cta" href="login.php"><button class="loginbutton">Login</button></a>
      <a href="signup.php"><button class="signupbutton">Create Account</button></a>
    </nav>
  </header>
  <main>
    <h2>Elevating Elderly Care with Heart and Expertise</h2>
    <h1>Find personalized help <br> designed just <span>for You</span></h1>
    <a class="cta" href="signup.php"><button>Sign Up Today</button></a>
    <p>24/7 live consultancy | Always Here, Always Caring</p>
  </main>

  <section id="AboutUs" class="aboutus">
    <div class="logoimg"><img src="./Assets/Images/logo.png" alt=""> </div>
    <div class="abt">
      <h1>Serenity Haven is a compassionate care company for the elderly, focused on providing personalized in-home
        services. Their dedicated team offers assistance with daily activities and emotional support, ensuring seniors
        can age in place With dignity</h1>
    </div>
    <div class="aboutusimg1"><img src=".//Assets/Images/image1.png" alt=""></div>
    <div class="aboutusimg2"><img src="./Assets/Images/image2.png" alt=""></div>
  </section>

  <main id="testimonials" class="testimonials">
    <h1>What Our Patients Says About Us!</h1>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><span>Lauren</span><br> 24/7 Exceptional caregivers and personalized support.</div>
        <div class="swiper-slide"><span>Efe</span><br> Skilled, compassionate team. Serenity Alpha Made a real diffrence
        </div>
        <div class="swiper-slide"><span>Frank</span><br> Reliable, caring staff. Trust Serenity Alpha for exceptional
          service</div>
        <div class="swiper-slide"><span>Daniel</span><br> Such an amazing company</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </main>

  <section id="Services" class="servicescard">
    <div class="card-container">
      <div class="card">
        <div class="card-title">Home Care Services</div>
        <div class="card-image"><img src="./Assets/Images/Red Monoline Home Care Logo (148 x 132 px).png" alt="Image 1">
        </div>
        <div class="card-description">
          <p>Our compassionate caregivers provide personalized assistance for daily tasks, ensuring comfort and
            independence.</p>
        </div>
        <div class="card-cta">
          <button>Get in Touch</button>
        </div>
      </div>

      <div class="card">
        <div class="card-title">Medical Support and Advocacy</div>
        <div class="card-image"><img
            src="./Assets/Images/Black and White Simple Giving Help Concept Logo (148 x 132 px).png" alt="Image 2">
        </div>
        <div class="card-description">
          <p>Our experienced team monitors health conditions, coordinates medical appointments, and advocates for
            personalized care.</p>
        </div>
        <div class="card-cta">
          <button>Get in Touch</button>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="card-title">Companionship and Mental Wellness</div>
        <div class="card-image"><img
            src="./Assets/Images/Blue Mind Psychology Care Mental Health Logo (148 x 132 px).png" alt="Image 1"></div>
        <div class="card-description">
          <p>Enhancing well-being through companionship, engaging activities, and mental health support.</p>
        </div>
        <div class="card-cta">
          <button>Get in Touch</button>
        </div>
      </div>

      <div class="card">
        <div class="card-title">Rehabilitation and Physical Therapy</div>
        <div class="card-image"><img src="./Assets/Images/Elegant and Minimalist Health Medical Logo (148 x 132 px).png"
            alt="Image 2"></div>
        <div class="card-description">
          <p>Tailored rehabilitation programs and physical therapy to promote mobility and overall health.</p>
        </div>
        <div class="card-cta">
          <button>Get in Touch</button>
        </div>
      </div>
    </div>
  </section>

  <section class="faq">
    <div class="accordion">
      <h1>Frequently Asked Questions</h1>
      <div class="wrapper">
        <!-- Accordion Heading One -->
        <div class="parent-tab">
          <input type="radio" name="tab" id="tab-1" checked>
          <label for="tab-1">
            <span>What is the best way to prevent the flu?</span>
            <div class="icon"><i class="fas fa-plus"></i></div>
          </label>
          <div class="content">
            <p>The best way to prevent the flu is by getting vaccinated annually. Additionally, practicing good hand
              hygiene, avoiding close contact with sick individuals, and maintaining a healthy lifestyle can also help
              prevent the spread of the flu virus.</p>
          </div>
        </div>
        <!-- Accordion Heading Two -->
        <div class="parent-tab">
          <input type="radio" name="tab" id="tab-2">
          <label for="tab-2">
            <span>What are the symptoms of COVID-19?</span>
            <div class="icon"><i class="fas fa-plus"></i></div>
          </label>
          <div class="content">
            <p>Common symptoms of COVID-19 include fever, cough, and shortness of breath. Other symptoms may include
              fatigue, body aches, sore throat, loss of taste or smell, and gastrointestinal issues.</p>
          </div>
        </div>
        <!-- Accordion Heading Three -->
        <div class="parent-tab tab-3">
          <input type="radio" name="tab" id="tab-3">
          <label for="tab-3" class="tab-3">
            <span>How can I protect myself from COVID-19?</span>
            <div class="icon"><i class="fas fa-plus"></i></div>
          </label>
          <div class="content">
            <!-- Sub Heading One -->
            <div class="child-tab">
              <input type="checkbox" name="sub-tab" id="tab-4">
              <label for="tab-4">
                <span>What is social distancing?</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
              </label>
              <div class="sub-content">
                <p>Social distancing involves maintaining a physical distance of at least six feet from others to reduce
                  the spread of COVID-19. This includes avoiding large gatherings and crowded places.</p>
              </div>
            </div>
            <!-- Sub Heading Two -->
            <div class="child-tab">
              <input type="checkbox" name="sub-tab" id="tab-5">
              <label for="tab-5">
                <span>Should I wear a mask?</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
              </label>
              <div class="sub-content">
                <p>Yes, wearing a mask in public settings, especially when social distancing is difficult to maintain,
                  can help prevent the spread of COVID-19. Make sure the mask covers your nose and mouth and fits snugly
                  against the sides of your face without any gaps.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Accordion Heading Four -->
        <div class="parent-tab">
          <input type="radio" name="tab" id="tab-6">
          <label for="tab-6">
            <span>How can I improve my sleep quality?</span>
            <div class="icon"><i class="fas fa-plus"></i></div>
          </label>
          <div class="content">
            <p>To improve sleep quality, establish a consistent sleep schedule, create a relaxing bedtime routine,
              ensure your sleep environment is comfortable and conducive to sleep, limit screen time before bed, and
              avoid stimulants such as caffeine close to bedtime.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="CareGivers" class="getintouch">
    <h1>Get In Touch With Our Team Today!!!</h1>
    <form action="#" method="post">
      <div class="form-group1">
        <div class="half-width">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" name="first-name" required>
        </div>
        <div class="half-width">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" name="last-name" required>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" required>
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="10" required></textarea>
      </div>


      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col" id="company">
          <img src="./Assets/Images/logo.png" alt="" class="logo">
          <p>
            <span>SERENITY CARE</span> <br><br>
            Get in touch to discuss how personalized care management can be tailored for you.
          </p>
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>

        <div class="col" id="contact">
          <h3>Contact</h3>
          <div class="contact-details">
            <i class="fa fa-location"></i>
            <p>FF-42, Procube Avenue, <br> NY, USA</p>
          </div>
          <div class="contact-details">
            <i class="fa fa-phone"></i>
            <p>+1-8755856858</p>
          </div>
        </div>
      </div>

      <div class="copyright">
        <h1>@ 2024 - 2024 Serenity Haven Inc</h1>
      </div>
    </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="./Storage/script.js"></script>
</body>

</html>