<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Assets/Style/resetpassword.css">
    <title>Reset Account Password</title>
</head>
<body>
    <div class="container">
        <div class="createaccount">
            <img src="./Assets/Images/logo.png" alt="">
        </div>
        <div class="remaining">
            <h1>Reset <span>Password</span></h1>            
            <div class="input-container">
                <input type="email" id="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-container">
                <button type="submit">Reset Password</button>
            </div>
            <div class="input-container">
                <div class="login-link">Remember Password?<a href="login.php">Login Now</a></div>
            </div>
             <a href="index.php" class="explore-home">Explore Our Company? <span>Home</span></a>
        </div>
    </div>
</body>
</html>
