<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Assets/Style/signup.css">
    <title>Create Account</title>
</head>
<body>
    <div class="container">
        <div class="createaccount">
            <img src="./Assets/Images/logo.png" alt="">
        </div>
        <div class="remaining">
            <h1>Create <span>Account</span></h1>
            <div class="form-container">
                <div class="input-container">
                    <input type="text" id="firstName" name="firstName">
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-container">
                    <input type="text" id="lastName" name="lastName">
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            
            <div class="input-container">
                <input type="email" id="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-container">
                <input type="tel" id="phone" name="phone">
                <label for="phone">Phone Number</label>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password">
                <label for="password">Password</label>
            </div>
            <div class="input-container">
                <input type="password" id="confirmPassword" name="confirmPassword">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="input-container">
                <button type="submit">Create Account</button>
            </div>
            <div class="login-link">Already have an account?<a href="login.php">Login</a></div>
             <a href="index.php" class="explore-home">Explore Our Company? <span>Home</span></a>
        </div>
    </div>
</body>
</html>
